body {
  background-color: white;
  font-family: "Roboto", Helvetica, Arial, serif;
  margin: 0;
  background: rgba(255,255,255, 1.0);
}

div {
  width: 360px;
  height: 100%;
  position: relative;
  margin: auto;
}

.BusyBus {
  width: 100%;
  min-width: 360px;
  height: 100vh;
  min-height: 640px;
  position: relative;
  overflow: hidden;
  margin: 0px;
}

.status-bar {
  background-color: rgba(255,255,255,0.0);
  top: 0px;
  height: 24px;
  width: 360px;
  position: absolute;
  margin: 0;
  left: 0px;
}

.statusbarbg {
  background-color: rgba(28, 58, 169, 1.0);
  top: 0px;
  height: 24px;
  width: 360px;
  position: absolute;
  margin: 0;
  left: 0px;
}

.nav-bar {
  height: 60px;
  width: 360px;
  background-color: #334EB5
}

.bottomnav {
  background-color: rgba(0, 0, 0, 1.0);
  top: 0px;
  height: 50px;
  width: 360px;
  position: absolute;
  top: 590px;
  margin: 0;
  left: 0px;
}

.content { /* Modifies wifi/battery/time icons*/
  position: relative;
  left: 255px;
  top: 5px;
}

.BusyBusTitle {
  background-color: rgba(255,255,255,0.0);
    position: absolute;
    top: 18px;
    left: 67px;
    height: auto;
    width: 95px;
    margin: 0;
    transform: rotate(0deg);
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22.0px;
    color: rgba(255, 255, 255, 1.0);
    text-align: left;
    letter-spacing: 0.68px;
    line-height: 25.0px;
}

.nav-content {
  top: 22px; /*This modifies the "moredots" image*/
  left: 320px;
  height: 18px;
  width: 5px;
  position: absolute;
  margin: 0;
}

.washingtonstate {
  positon: relative;
  top: 10px
}

.span1 { /*To adjust the "Washington & State title"*/
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  line-height: 2px;
  position: absolute; /*This adjusted the positon of the "Washington & State title"*/
  bottom: 55px;
  left: 100px;
}

.span2 { /*To adjust the "Bus Stop" title*/
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  text-align: justify;
  position: relative; /*This adjusted the position*/
  left: 100px;
  bottom: 30px;
}

.span3 { /* To style how far the user is from the bus stop*/
  position: relative;
  bottom: 0px;
  left: 50px;
  font-size: 14px;
  color: grey;
}

.walking-icon {
  position: relative;
  bottom: -3px;
  right: 13px;
}

.directionsicon {
  position: relative;
  left: 155px;
  bottom: 10px;
}

.Search-icon {
  position: relative;
  bottom: 37px;
  left: 285px;
}

.Back-arrow {
  position: relative;
  top: 21px;
  left: 16px;
}

.bottom-nav-button {
  position: relative;
  top: 6px;
  left: 55px;
}

.bottom-nav-home {
  position: relative;
  top: 7px;
  left: 140px;
}

.bottom-nav-square {
  position: relative;
  top: 5px;
  left: 220px;
}

.busicon {
  position: relative;
  bottom: 45px;
  left: 15px;
}

.important-info {
    background-color: rgba(255,255,255,0.0);
    bottom: 5px;
    height: 24px;
    width: 275px;
    position: relative;
    margin: 0;
    left: 29px;
    font-family: "Roboto", Helvetica, Arial, serif;
    font-weight: bold;
    font-style:normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    line-height: 24.0px;
    display:block;
}

.Line {
  position: relative;
  bottom: 2.5px;
}

.Destination {
  position: relative;
  left: 90px;
  bottom: 26px;
}

.Frequency {
  position: relative;
  left: 217px;
  bottom: 50px
}

.four {/*Line break between directions aspect and the list*/
  width: 85%;
  position: relative;
  bottom: 40px
}

.Eastbound-info {
  font-weight: 400;
  font-style: normal;
  font-size: 12.0px;
  color: rgba(18, 17, 17, 1.0);
  text-align: left;
  line-height: 20.0px;
}

/* Eastbound parts*/
.Eastbound {
  position: relative;
  bottom: -3px;
  font-weight: bold;
  font-size: 15px;
  left: 16px
}

.threeminutes {
  color: red;
}

.line-number { /*Line number for Eastbound*/
  position: relative;
  left: 35px;
  bottom: 31px;
  font-size: 14px
}

.Every20 { /*Frequency for Eastbound*/
  position: relative;
  left: 250px;
  bottom: 151px;
  font-size: 14px
}

.Randolph { /*Destination for Eastbound*/
  position: relative;
  left: 105px;
  bottom: 93px;
  font-size: 14px
}

.eastbound-arrow { /*More info arrow for eastbound*/
position: relative;
bottom: 20px;
left: 335px;
}

.one { /*Line break between East and Northbound*/
  width: 85%;
  position: relative;
  bottom: 0px;
}

/*Northbound part*/
.Northbound-info {
  font-weight: 400;
  font-style: normal;
  font-size: 12.0px;
  color: rgba(18, 17, 17, 1.0);
  text-align: left;
  line-height: 20.0px;
}

.Northbound { /* Edit northbound title*/
  font-weight: bold;
  position: relative;
  bottom: -8px;
  font-size: 15px;
  left: 16px
}

.line-number-2 {
  position: relative;
  bottom: 85px;
  left: 35px;
  font-size: 14px
}

.Devon {
  position: relative;
  left: 120px;
  bottom: 25px;
  font-size: 14px
}

.Every16 {
  position: relative;
  left: 250px;
  bottom: 145px;
  font-size: 14px
}

.northbound-arrow { /* More info arrow for northbound*/
  position: relative;
  left: 335px;
  bottom: 22px;
}

.two { /* Line break between East and Northbound */
  width: 85%;
  position: relative;
  bottom: 13px;
}

/*Southbound Part*/
.Southbound-info {
  font-weight: 400;
  font-style: normal;
  font-size: 12.0px;
  color: rgba(18, 17, 17, 1.0);
  text-align: left;
  line-height: 20.0px;
}

.Southbound {
  font-weight: bold;
  position: relative;
  bottom: 5px;
  font-size: 15px;
  left: 16px
}

.Stony {
  position: relative;
  left: 105px;
  bottom: 38px;
  font-size: 14px
}

.Every15 {
  position: relative;
  left: 250px;
  bottom: 98px;
  font-size: 14px
}

.J14 {
  position: relative;
  left: 35px;
  bottom: 158px;
  font-size: 14px
}

.southbound-arrow {
  position: relative;
  left: 335px;
  bottom: 205px;
}

.three { /*Line break between Southbound and reroute*/
  width: 85%;
  position: relative;
  bottom: 188px;
}


/*Reroute part*/
.Reroute-info {
  font-weight: 400;
  font-style: normal;
  font-size: 12.0px;
  color: rgba(18, 17, 17, 1.0);
  text-align: left;
  line-height: 20.0px;
  position: relative;
  Bottom: 70px
}

.Reroute {
  font-weight: bold;
  position: relative;
  bottom: 112px;
  font-size: 15px;
  left: 16px
}

.sixX {
  position: relative;
  left: 35px;
  bottom: 145px;
  font-size: 14px
}

.Jackson {
  position: relative;
  left: 105px;
  bottom: 205px;
  font-size: 14px
}

.Not {
  position: relative;
  left: 270px;
  bottom: 265px;
  font-size: 14px
}

.reroute-arrow {
position: relative;
left: 335px;
bottom: 210px;
}
