body {
  background-color: white;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin: 0;
  background: white;
  width: 411px;
  height: 823px;
}

/*Status and Nav Bar*/
nav {
  position: fixed;
}

.status-content {
background-color: rgba(28, 58, 169, 1.0);
height: 24px;
width: 411px;
}

.status-icons {
float: right;
margin-top: 5px;
margin-right: 5px
}

.washington-state {
  font-size: 20px;
  font-weight: bolder;
  color: white;
  margin: 25px;
}

.nav-content {
background-color: #334EB5;
width: 411px;
height: 60px;
}

.moredots {
float: right;
margin-top: 15px;
}

.backarrow {
margin-left: 16px;
margin-top: 16px;

}

.searchicon {
float: right;
position: relative;
right: 46px;
top: 16px;
}


/*Bottom Navigation*/
.bottomnav {
background-color: black;
width: 411px;
height: 40px;
position: fixed;
bottom: 0px;
opacity: 0.75;
}

.square-button {
float: right;
margin-right: 40px;
margin-top: 8px;
}

.home-button {
position: relative;
top: 7px;
left: 170px;
}

.back-button {
  position: relative;
  left: 40px;
  top: 7px;
}

/*Styling directions portion*/
.directions {
width: 411px;
height: 250px;
background-image: url(../icons/washingtonstatestop.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.howfar {
color: white;
float: left;
margin-right: 16px;
position: relative;
top: 200px;
left: 40px;
font-weight: bold;
font-size: 17px;

}

.direction-button {
float: left;
position: relative;
top: 136px;
right: 30px;
}

.walking-icon {
float: left;
position: relative;
top: 199px;
right: 85px;
}

/*Styling Main Bus Information*/
.bus-info {
width: 100%;
margin:auto;
background: #334EB5;
}

ul {
display: inline-block; /*This made the list into rows*/
}

li {
width: 411px;
height: 90px
}


.location {
font-size: 17px;
font-weight: bold;
color: white;
position: relative;
bottom: 20px;
}

.bound {
font-style: italic;
font-weight: normal;
color: white;
position: relative;
left: 95px;
bottom: 15px;
}

.frequency {
float: right;
font-size: 14px;
margin-right: 16px;
color: white;
}


.dot {
height: 45px;
width: 45px;
background-color: white;
border-radius: 50%;
display: inline-block;
margin-left: 16px;
margin-top:15px;
}

.line {
font-weight: bolder;
text-align: center;
position: relative;
bottom: 20px;
right: 43px;
}
