body {
  background-color: white;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin: 0;
  background: white;
  width: 411px;
  height: 823px;
}

/*Status and Nav Bar*/
nav {
  position: fixed;
  z-index: 100; /* This makes the nav bar the highest stack order hiding every element behind it*/
}

.status-content {
background-color: rgba(28, 58, 169, 1.0);
height: 24px;
width: 411px;
}

.status-icons {
float: right;
margin-top: 5px;
margin-right: 5px
}


.nav-content {
background-color: #334EB5;
width: 411px;
height: 60px;
}

.moredots {
float: right;
margin-top: 15px;
}

.backarrow {
margin-left: 16px;
margin-top: 16px;

}

.searchicon {
float: right;
position: relative;
right: 46px;
top: 16px;
}


/*Bottom Navigation*/
.bottomnav {
background-color: black;
width: 411px;
height: 40px;
position: fixed;
bottom: 0px;
opacity: 0.75;
}

.square-button {
float: right;
margin-right: 40px;
margin-top: 8px;
}

.home-button {
position: relative;
top: 7px;
left: 170px;
}

.back-button {
  position: relative;
  left: 40px;
  top: 7px;
}

/*Styling directions portion*/
.washington-state {
font-size: 20px;
font-weight: bolder;
color: black;
margin: 25px;
position: relative;
top: 120px;
right: 33px;
}

.directions {
width: 411px;
height: 215px;
}

.howfar {
color: black;
float: left;
margin-right: 16px;
position: relative;
top: 155px;
left: 140px;
font-weight: normal;
font-size: 17px;

}

.direction-button {
  float: right;
  position: relative;
  top: 120px;
  right: 25px;
}

.walking-icon {
float: left;
position: relative;
top: 153px;
left: 62px;
}

.bus-icon {
float: left;
position: relative;
top: 123px;
right: 41px;
}

/*Styling Main Bus Information*/
.bus-info {
width: 100%;
margin-bottom: 40px;
background: white;
}

li {
display: inline-block; /*This made the list into rows*/
}

ul {
width: 411px;
height: 90px;
position: relative;
top: 40px;
}


.location {
font-size: 17px;
font-weight: bold;
color: black;
position: relative;
bottom: 20px;
left: 42px;
}

.locationtwo {
  font-size: 17px;
  font-weight: bold;
  color: black;
  position: relative;
  bottom: 20px;
  left: 33px;
}

.locationthree {
  font-size: 17px;
  font-weight: bold;
  color: black;
  position: relative;
  bottom: 20px;
  left: 25px;
}

.bound {
font-style: italic;
font-weight: normal;
font-size: 15px;
color: black;
position: relative;
left: 105px;
bottom: 12px;
}

.frequency {
float: right;
font-size: 16px;
margin-right: 20px;
color: black;
position: relative;
bottom: 24px;
}

.frequencytwo {
  float: right;
  font-size: 16px;
  margin-right: 20px;
  color: red;
  position: relative;
  bottom: 24px;
}


.dot {
width: 45px;
height: 45px;
padding: 12px;
background: #334eb5;
color: white;
text-align: center;
border-radius: 50%;
margin-left: 16px;
position: relative;
bottom: 10px;
margin-right: 10px;
}
